<div class="container my-5">
 
  <div class="card mx-auto shadow-lg rounded" style="max-width: 380px;">
      <img class="card-img-top rounded-top" src="{{prenda.url}}" alt="Imagen del producto" style="height: 300px; object-fit: cover;">
      <div class="card-body text-center">
          <h4 class="card-title">{{prenda.nombre}}</h4><br>
          <h6 class="card-subtitle mb-2 text-muted">ID: {{prenda.id}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Categoría: {{prenda.categoria}}</h6>
          <p class="card-text">Precio: <strong>{{prenda.precio}} $</strong></p>
          <button class="btn btn-success mt-3" [routerLink]="['/productos']">Regresar</button>
      </div>
  </div>
</div>

