<footer class="footer">
    <div class="container">
      <div class="footer-row">
        <div class="footer-links">
          <h4>CONTACTOS</h4>
          <ul>
            <li><a href="tel:+593789521420">(593) 789521420</a></li>
            <li>
              <a href="mailto:modatrend@contacto.com"
                >modatrend{{'@'}}contacto.com</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>AYUDA</h4>
          <ul>
            <li><a  routerLink="nosotros">Nosotros</a></li>
            <li><a  routerLink="contactos">Ubicacion</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>TIENDA</h4>
          <ul>
            <li><a  routerLink="productos">Productos</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h4>REDES</h4>
          <div class="social-link">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
    <p class="copyright">&copy; 2024 ModaTrend</p>
  </footer>
