<div class="container mt-5">
    <div class="card p-4 shadow-lg" style="max-width: 600px; margin: auto;">
        <div class="text-center">
            <img src="../../../assets/images/avatar.png" class="rounded-circle" alt="User Avatar" width="150" height="150">
        </div>
        <div class="card-body text-center mt-4">
            <div *ngIf="!isEditing">
                <h3>{{ usuario.type }}</h3><br>
                <p class="text-muted"><label style="color: blue;" for="id" class="form-label">ID:</label> {{ usuario.id }}</p>
                <p><label style="color: blue;" for="id" class="form-label">email:</label> {{ usuario.email }}</p>
            </div>
            <div *ngIf="isEditing">
                <div class="mb-3">
                    <label for="name" class="form-label">ID:</label>
                    <input type="text" id="name" class="form-control" [(ngModel)]="usuario.id">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" class="form-control" [(ngModel)]="usuario.email">
                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Contraseña:</label>
                    <input id="password" class="form-control" [(ngModel)]="password">
                </div>
            </div>
            @if (isEditing) {
                <button style="width: 120px;" class="btn btn-success mt-3">
                    Guardar
                </button><br>
                <button style="width: 120px;" class="btn btn-danger mt-3"(click)="toggleEdit()">
                    Cancelar
                </button>

            }@else {
                <button style="width: 120px;" class="btn btn-success mt-3" (click)="toggleEdit()">
                    Editar
                </button><br>
                <button style="width: 120px;" class="btn btn-danger mt-3"(click)="cerrar()">
                    Cerrar Sesion
                </button>

            }
            
           
        </div>
    </div>
</div>


