<section class="about">
    <div class="about-info">
        <h2>Sobre nosotros</h2>
        <p>En Moda Trend, nos enorgullecemos de ofrecerte lo último en tendencias de moda para que puedas expresar tu estilo único y sentirte seguro en cada ocasión. Desde prendas elegantes para la oficina hasta conjuntos casuales para tus momentos de relax, nuestra tienda está diseñada para satisfacer todas tus necesidades de moda.

        </p>
        <p> Nuestro equipo está compuesto por apasionados de la moda que están siempre al tanto de las últimas tendencias y están dedicados a seleccionar cuidadosamente cada artículo que ofrecemos en nuestra tienda. Nos esforzamos por brindarte una experiencia de compra excepcional, desde el momento en que exploras nuestro catálogo hasta que recibes tus prendas en la puerta de tu casa.</p>
    </div>
    <img src="../../../assets/images/shop-store.jpg" alt="Interior de la tienda">
</section>

