<div class="container mt-5">
    <div  class="card p-4 shadow-lg" style="max-width: 600px; margin: auto;">
        <h3 class="text-center mb-4"> Agregar Producto</h3>
        <form (ngSubmit)="guardar(formulario)" #formulario="ngForm">
            <div class="mb-3">
                <label for="id" class="form-label" style="color: SteelBlue">ID</label>
            <input type="number" name="id" [(ngModel)]="id" class="form-control" readonly="readonly"/>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label" style="color: SteelBlue">Nombre</label>
            <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label" style="color: SteelBlue">Precio</label>
             <input type="number" name="precio" [(ngModel)]="precio" class="form-control"/>
            </div>
            
            <div class="mb-3">
                <label for="categoria" class="form-label" style="color: SteelBlue">Seleccione la categoria</label>
            <select name="categoria" [(ngModel)]="categoria" class="form-control">
                <option value="Camisetas">Camisetas</option>
                <option value="Pantalones">Pantalones</option>
                <option value="Sudaderas">Sudaderas</option>
                <option value="Vestidos">Vestidos</option>
                <option value="Chaquetas">Chaquetas</option>
                <option value="Calcetines">Calcetines</option>
                <option value="Polos">Polos</option>
                <option value="Faldas">Faldas</option>
                <option value="Abrigos">Abrigos</option>
                <option value="Accesorios">Accesorios</option>
            </select>
            </div>
          
            <div class="mb-3">
                <label for="url" class="form-label" style="color: SteelBlue">URL de Imagen</label>
          <input type="text" name="url" [(ngModel)]="url" class="form-control"/>
          
            </div>

            <div style="display: flex; margin-bottom: 30px;">
                <button  type="button" class="btn btn-warning" style="width: 110px;" (click)="toggleView()">Vista previa</button>
                
              </div>
              <div *ngIf="isEnable" style="text-align: center; margin-bottom: 30px;">
                <img class="card-img-top" src={{url}} alt="Card image" style="width:280px; ">
  
              </div>
  
            
            <div class="d-flex justify-content-center" >
                <button type="submit" class="btn btn-success" style="width: 150px;">Guardar</button>
            </div>
            
            
          
           
          </form>
    
    </div>
   
    
  </div>