
/*Filtro*/
.filter-group {
    gap: 1rem;
  }
  .filter-item {
    display: flex;
    flex-direction: column;
  }
  .form-label {
    font-weight: bold;
  }
  .text-field {
    color: #540ED8;
  }
  .form-control, .form-select {
    border-radius: 0.25rem;
  }
/*REDIMENSIONANDO IMAGENES*/

.card-img-top {
    width: 100%;
    height: 200px; /* Define una altura fija para las imágenes */
    object-fit: cover; /* Esto asegura que las imágenes se recorten en lugar de distorsionarse */
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 350px; /* Ajustar según la altura de tu tarjeta más alta */
}

.card-body {
    flex: 1; /* Hace que el contenido del cuerpo se expanda */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title,
.card-text {
    margin-bottom: 0.5rem; /* Ajustar según sea necesario */
}

.card .btn {
    align-self: flex-start; /* Centra el botón dentro del cuerpo */
    margin-top: auto; /* Empuja el botón hacia el final del card-body */
}

/*EFECTO DE SOMBREADO EN IMAGEN*/

.image-container {
    position: relative;
}

.card-img-top {
    transition: box-shadow 0.3s ease-in-out;
}

.image-container:hover .card-img-top {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.detalletxt {
    color: white;
    font-size: 20px;
    font-weight: bold;
}