

<div class="container mt-5">
  <h4 class="mb-3">Filtrar:</h4>
  <div class="filter-group d-flex flex-wrap align-items-center">
    <div class="filter-item me-4 mb-2">
      <label for="valorMinimo" class="form-label text-field">Precio Mínimo:</label>
      <input type="number" id="valorMinimo" name="valorMinimo" class="form-control" [(ngModel)]="ValorMinimo">
    </div>
    <div class="filter-item me-4 mb-2">
      <label for="valorMaximo" class="form-label text-field">Precio Máximo:</label>
      <input type="number" id="valorMaximo" name="valorMaximo" class="form-control" [(ngModel)]="ValorMaximo">
    </div>
    <div class="filter-item mb-2">
      <label for="categoria" class="form-label text-field">Categoría:</label>
      <select id="categoria" name="categoria" class="form-select" [(ngModel)]="categoria">
        <option value="seleccione">Seleccione</option>
        <option value="Camisetas">Camisetas</option>
        <option value="Pantalones">Pantalones</option>
        <option value="Sudaderas">Sudaderas</option>
        <option value="Vestidos">Vestidos</option>
        <option value="Chaquetas">Chaquetas</option>
        <option value="Calcetines">Calcetines</option>
        <option value="Polos">Polos</option>
        <option value="Faldas">Faldas</option>
        <option value="Abrigos">Abrigos</option>
        <option value="Accesorios">Accesorios</option>
      </select>
    </div>
  </div>
</div><br>
    

<hr ><br>
<div class="container">
    <div class="row">
        @for (item of prendas; track item) {
            @if( (item.precio < ValorMaximo && item.precio > ValorMinimo) || item.categoria==categoria ){
                <div class="col-md-3 mb-4">
                    <div class="card h100" style="width:280px;">
                      <a [routerLink]="['/productos', item.id]" class="card-link" style="text-decoration: none; color: inherit;">
                        <div class="image-container">
                          <img class="card-img-top" src={{item.url}} alt="Card image" style="width:100%">
                          <div class="overlay">
                            <div class="detalletxt">Ver detalles</div>
                          </div>
                        </div>
                       
                      </a>
                        
                        <div class="card-body text">
                          <h4 class="card-title">{{item.nombre}}</h4>
                          <p class="card-title">Categoria: {{item.categoria}}</p>
                          <p class="card-text">Precio: {{item.precio}} $</p>
                          @if(acceso=='true'){
                            <div style=" display: flex; flex-direction: row;">
                              <button class="btn btn-primary" style="margin-right: 20px;" (click)="addtoCart(item)">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                              
                            </div>

                          }
                          
                          @if(rol=='admin'){
                            <div style=" display: flex; flex-direction: row; margin: 5px 0px;">
                              <button class="btn btn-warning" style="margin-right: 10px;" [routerLink]="['/formulario',item.id]">Editar</button>
                              <button class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
                            </div>
                           
                          }
                        </div>
                        
                    </div>
                </div>
    
            }@else if (ValorMaximo==undefined && ValorMinimo==undefined && categoria=='seleccione') {
                <div class="col-md-3 mb-4">
                  
                    <div class="card h100" style="width:280px;">
                      <a [routerLink]="['/productos', item.id]" class="card-link" style="text-decoration: none; color: inherit;">
                        <div class="image-container">
                          <img class="card-img-top" src={{item.url}} alt="Card image" style="width:100%">
                          <div class="overlay">
                            <div class="detalletxt">Ver detalles</div>
                          </div>
                        </div>
                        
                      </a>
                       
                        <div class="card-body text">
                          <h4 class="card-title">{{item.nombre}}</h4>
                          <p class="card-title">Categoria: {{item.categoria}}</p>
                          <p class="card-text">Precio: {{item.precio}} $</p>
                          @if(acceso=='true'){
                            <div style=" display: flex; flex-direction: row;">
                              <button class="btn btn-primary" style="margin-right: 20px;" (click)="addtoCart(item)">Añadir al carrito <i class="fa-solid fa-cart-plus"></i></button>
                              
                            </div>

                          }
                          @if(rol=='admin'){
                            <div style=" display: flex; flex-direction: row; margin: 5px 0px;">
                              <button class="btn btn-warning" style="margin-right: 10px;" [routerLink]="['/formulario',item.id]">Editar</button>
                              <button class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
                            </div>
                           
                          }
                         
                        </div>
                        
                    </div>
                </div>
    
            }
    
        
    }
    </div>
</div>




