/* Opcional: Ajustes adicionales para el formulario */
.container {
    max-width: 100%;
    padding: 2rem;
}

.card {
    border-radius: 1rem;
}

.input-group-text {
    font-size: 1.2rem; /* Aumenta el tamaño de los iconos */
}
.mb-4 {
    margin-bottom: 1.5rem !important; /* Aumenta el espaciado entre campos */
}

.mb-3 {
    margin-bottom: 1.6rem !important; /* Aumenta el espaciado entre el último campo y el botón */
}